autom4te.cache
config.h.in
config.h.in~
configure
MMOCoreORB/bin/coverage.info
MMOCoreORB/bin/luacov.stats.out
Makefile.in
aclocal.m4
MMOCoreORB/bin/conf/rev.txt
MMOCoreORB/build/*
MMOCoreORB/src/Makefile.in
MMOCoreORB/src/client/Makefile.in
MMOCoreORB/src/client/aclocal.m4
MMOCoreORB/src/client/config.h.in
MMOCoreORB/src/client/configure
MMOCoreORB/src/client/build/*
INSTALL
.settings/*
.sw*
Doxyfile
MMOCoreORB/bin/*.log
MMOCoreORB/bin/*.xml
MMOCoreORB/bin/*sh
MMOCoreORB/bin/*out
*.sh
build_temp
*_includes
html
latex
log
tags
.*.swp
.ycm_extra_conf.py*
MMOCoreORB/sql/insert_strings.sql
build.out
build.out.prev
MMOCoreORB/bin/screenlog*
compile_commands.json
MMOCoreORB/utils/engine3/*
